{% extends "base.html" %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/herramientas.css' %}">
{% endblock css %}

{% block contenido %}
    <div class="contenido">
        <div class="titulo">
            <h1>Herramientas</h1>
        </div>
        <div class="sub-titulo">
            <h2>Tenemos productos del catalogo de la marca CAT</h2>
        </div>
        <div class="herramientas">
            <div class="producto">
                <img src="{% static 'img/logo.jpg'%}" alt="">
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolorem, vitae!</p>
                <h3>Precio: $1000</h3>
            </div>
        </div>
    </div>
{% endblock contenido %}